.header .header__main .row {
    align-items: center;
    flex-wrap: nowrap;
}

.header .header__main .row .col {
    padding-top: 20px;
    padding-bottom: 20px;
}

.header__main {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
}

.header__logo {
    padding-right: 16px;
}

.header__logo img {
    width: 100px;
}

.header__info {
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    padding-left: 30px;
    padding-right: 30px;
    border-left: 1px solid var(--bg-color--dark);
    border-right: 1px solid var(--bg-color--dark);
}

.header__main .header__info {
    display: none;
}

.header .custom-button {
    max-width: 140px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 12px 41px;
    text-transform: none;
    text-align: left;
    line-height: 1;
    border-radius: 100px;
}

.header__main .header__info .custom-button {
    display: none;
}

.header__contacts {
    padding-left: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    gap: 5px;
    text-align: right;
}

.header__main .contacts {
    display: none;
    align-items: flex-end;
}

.contacts__phone {
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    color: var(--font-color);
}

.contacts__call {
    margin: 0;
    padding: 0;
    font-size: 14px;
    border: none;
    background: none;
    color: var(--brand-color);
    border-bottom: 1px dashed var(--brand-color);
    transition: color 0.3s;
}

.contacts__call:hover {
    color: var(--brand-color--dark);
}

.location__row {
    display: flex;
    align-items: center;
    gap: 8px;
}

.location__additional {
    color: var(--font-color--light);
}

.location p {
    font-weight: 700;
    margin: 0;
}

.location__button {
    position: relative;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 700;
    color: var(--brand-color);
    border: none;
    background: none;
}

.location__button::after {
    content: '';
    height: 16px;
    width: 1px;
    background-color: var(--bg-color--dark);
}

.cart {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-right: 10px;
}

.cart .cart__link {
    position: relative;
    display: block;
    text-decoration: none;
}

.cart__counter {
    position: absolute;
    top: -12px;
    right: -12px;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    line-height: 1;
    background-color: var(--brand-color);
    border-radius: 100%;
    color: #fff;
    z-index: 1;
}

@media (min-width: 768px) {
    .header__main .header__info {
        display: flex;
    }
    .header__main .contacts {
        display: flex;
    }
}

@media (min-width: 992px) {
    .header__main .header__info .custom-button {
        display: flex;
    }
    .header__contacts {
        gap: 40px;
    }
}

@media (min-width: 1124px) {
    .header__info {
        padding-right: 70px;
    }
    .header__logo img {
        width: auto;
        max-width: 250px;
    }
}